[submodule "desafio01"]
	path = desafio01
	url = git@github.com:BryanValeriano/desafio01_reactjsIgnite.git
[submodule "desafio02"]
	path = desafio02
	url = git@github.com:BryanValeriano/desafio02_reactjsIgnite.git
